<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RotuScan - Crie sua conta</title>
  <link rel="stylesheet" href="css/cadastro.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
  <main class="container">
    <section class="presentation-panel">
      <div class="presentation-content">
        <div class="logo">
          <img src="imgs/logos/RotoScan.png">
          <h1><span class="highlight-text1">Rotu</span><span class="highlight-text2">Scan</span></h1>
        </div>
        <div class="welcome-container">
          <h1>Seja bem-vindo!</h1>
          <p>
            Recupere a tranquilidade ao se alimentar! Desenvolvemos o ROTOSCAN para descomplicar a vida de quem tem
            restrições alimentares. Cadastre-se gratuitamente, configure suas alergias/intolerâncias e deixe que nossa
            tecnologia garanta que você coma com segurança e confiança.
          </p>
          <div class="barra"></div>
        </div>
      </div>
    </section>
    <div class="cont">
      <div class="login-box">

        <br>
        <h2>Crie sua conta!</h2>

        <form action="/cadastro/new" method="post">
          <label for="nome">Nome</label>
          <input type="nome" name="nome" id="nome" placeholder="Preencha com o seu nome completo" required>

          <label for="email">Email</label>
          <input type="email" name="email" placeholder="Preencha com seu email" required>

          <label for="senha">Senha</label>
    <div class="senha-wrapper">
            <input type="password" id="senha" name="senha" placeholder="***************" required>
            
          </div>
          </div>
          

          <div class="options">
            <label><input type="checkbox" checked> Lembre-se</label>
            <a href="#">Esqueceu a senha?</a>
          </div>

          <button type="submit" class="btn">
            <p>Cadastrar </p>
          </button>
        </form>

        <div class="divider">
          <span>Ou</span>
        </div>

        <button class="google-btn">
          <img src="https://www.svgrepo.com/show/355037/google.svg" alt="Google">
          Conecte com o Google
        </button>

      </div>
    </div>

</body>

</html>