<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RotuScan - Crie sua conta</title>
    <link rel="stylesheet" href="/css/cadastro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <main class="container">
        <section class="presentation-panel">
            <div class="presentation-content">
                <div class="logo">
                    <img src="imgs/RotoScan.png" alt="Logo RotoScan">
                    <h1><span class="highlight-text1">Rotu</span><span class="highlight-text2">Scan</span></h1>
                </div>
                <h2>Seja bem-vindo!</h2>
                <p>
                    Recupere o tranquilidade ao se alimentar! Desenvolvemos
                    o ROTUSCAN para descomplicar a vida de quem tem
                    restrições alimentares. Cadastre-se gratuitamente,
                    configure suas alergias/intolerâncias e deixe que nossa
                    tecnologia garanta que você coma com segurança e
                    confiança.
                </p>
            </div>
        </section>

        <div class="form-panel">
            <div class="form-container">
                <div class="form-header">
                    <p>Se alimente seguro!</p>
                    <h3>Crie sua conta!</h3>
                </div>

                <form>
                    <div class="divcadastro">
                        <div class="input-group">
                            <label for="name">Seu nome</label>
                            <input type="text" id="name" name="name" value="Isaac" required>
                        </div>

                        <div class="input-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" value="isaac123@email.com" required>
                        </div>

                        <div class="input-group">
                            <label for="password">Senha</label>
                            <div class="password-wrapper">
                                <input type="password" id="password" name="campo-senha" required>
                                <div id="Eyeicon" onclick="showHide()"></div>
                            </div>
                        </div>

                        <button type="submit" class="btn-primary">Comece já!</button>


                        <div class="separator">
                            <span>Ou</span>
                        </div>

                        <button type="button" class="btn-google">
                            <svg class="google-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 48 48">
                                <path fill="#FFC107"
                                    d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24s8.955,20,20,20s20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z">
                                </path>
                                <path fill="#FF3D00" d="M6.306,14.691l6.571,4.819"></path>
                            </svg>
                        </button>

                        <p class="signup">Já tem conta? <a href="/login">Entre aqui!</a></p>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script src="../js/script.js"></script>
</body>

</html>