<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>  
  <div class="dark"></div>
  <div class="wrapper">
  <div class="container">
    <div class="login-box">
      <h4>Bem-vindo de volta!</h4>
      <br>
      <h2>Conecte em sua conta</h2>

      <form action="/authenticate" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="isaac123@email.com" required>

        <label for="senha">Senha</label>
        <div class="senha-wrapper">
          <input type="password" name="senha" placeholder="***************" required>
          <span class="eye">👁️</span>
        </div>

        <div class="options">
          <label><input type="checkbox" checked> Lembre-se</label>
          <a href="#">Esqueceu a senha?</a>
        </div>

        <button type="submit" class="btn" >
          <a href="index.ejs"></a> Entrar</button>
      </form>

      <div class="divider">
        <span>Ou</span>
      </div>

      <button class="google-btn">
        <img src="https://www.svgrepo.com/show/355037/google.svg" alt="Google icon">
        Conecte com o Google
      </button>

      <p class="signup">É novo por aqui? <a href="/cadastro">Crie sua conta aqui!</a></p>
    </div>
  </div>
  <div class="img"></div>
    </div>
</body>
</html>
